@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Radikal';
  src: url('../assets/fonts/MerriweatherSans-Light.ttf');
}

@font-face {
  font-family: 'Radikal Regular';
  src: url('../assets/fonts/MerriweatherSans-Regular.ttf');
}

@font-face {
  font-family: 'Radikal Bold';
  src: url('../assets/fonts/MerriweatherSans-Bold.ttf');
}

@font-face {
  font-family: 'Radikal Italic';
  src: url('../assets/fonts/MerriweatherSans-Italic.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Radikal, Helvetica, Arial, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}